@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Licorice&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+NZ:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background-color: #4803038d;
}
.card {
    margin-top: 04%;
  background-color: red;
  width: 60%;
  max-width: 400px;
  background: #1a2980d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26d0cdcc,
    #1a2980bd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26d0cde2,
    #1a2980c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAEFD7", endColorstr="#F5BFD7", GradientType=1 );
  border-radius: 21px;
  padding: 30px 40px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  cursor: pointer;
  transition: 0.5s ease-in;
  border: 0;
  border-radius: 19px;
  padding: 10px 8px;
  outline: 0;
  flex: 1;
  margin-right: 16px;
  font-size: 15px;
}
.search input:hover {
  background-color: #b9cbe598;
  outline: 3px solid #00ff9915;
  outline-offset: 5px;
}
.search button {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #f6f3f3;
  height: 35px;
  width: 35px;
  border-radius: 50px;
}
.search button img {
  padding-top: 3px;
  height: 23px;
}
.weather {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.weather img {
  margin-top: 20px;
  border: 0;
  outline: 0;
  height: 105px;
  width: 105px;
}
